$main: #2d8cf0;
$main_light: #5cadff;
$main_deep: #2b85e4;

$success: #19be6b;
$warning: #ff9900;
$fail: #ed4014;
$remind: #2db7f5;

$title: #17233d;
$text: #515a6e;
$assist: #808695;
$disabled: #c5c8ce;
$border: #dcdee2;
$dividLine: #e8eaec;
$bg: #f8f8f9;

// @mixin font-set($font,$weight){
//   font-size: $font;
//   font-weight: $weight;
// }
